// Colors
//
// Default colors used throughout the framework. These can all be overridden with custom styles.
//
// $white - #ffffff; white
// $neutral - #212529; nuetral
// $neutral-hover - #ced4da; neutral hover
// $border - #adb5bd; border
// $primary - #1862ab; primary
// $primary-hover - #4dadf7; primary hover
// $button-focus - #a3daff; button focus
// $error - #c92a2a; error
// $error-hover - #ff8787; error hover
// $warning - #fcc419; warning
// $warning-hover - #fff3bf; warning hover
// $success - #2b8a3e; error
// $success-hover - #69db7c; success hover
//
// Styleguide Colors

$white: #ffffff !default;

$neutral: #212529 !default;

$neutral-hover: #ced4da !default;

$border: #adb5bd !default;

$primary: #1862ab !default;

$primary-hover: #4dadf7 !default;

$button-focus: #a3daff !default;

$error: #c92a2a !default;

$error-hover: #ff8787 !default;

$warning: #fcc419 !default;

$warning-hover: #fff3bf !default;

$success: #2b8a3e !default;

$success-hover: #69db7c !default;